 * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Rajdhani", sans-serif;
 }

 header {
   border-right: 2px solid rgb(151, 149, 149);
   padding: 2rem;
   width: 17vw;
   height: 100vh;
}
img[alt="profile"] {
   height: 150px;
   width: 150px;
   border-radius: 50%;
}
.side_links li:hover{
   background-color:#F5DBE3;
}
.side_links ul{
   list-style-type: none;
   line-height: 2rem;
   margin-top: 2rem;
   font-size: 13px;

}
.side_links i {
   margin-right: 5px;
   font-size: 10px;
   color:#db90a7;
   margin-left: 1rem;
}
a {
   text-decoration: none;
   color: black;
}
.social_links ul {
   display: flex;
   column-gap: 5px;
   align-items: center;
   list-style-type: none;
   margin-top: 10px;
}
.social_links li {
   background-color: rgb(212, 208, 208); 
   border-radius: 50%;
   height: 25px;
   width: 25px;
   text-align: center;
   align-content: center;
}
.social_links i {
   font-size: 10px;
}

hr {
   margin: 2rem 0;
}







